body{
    background-color: salmon;
}
h1{
    color: blue;
    text-align: center;
}
div{
    text-align: center;
    margin: auto;
}
p{
    color: brown;
    font-size: x-large;
    text-align: left;
}
span{
    color: blue;
    font-weight: bold;
}
h2{
    color: cyan;
    font-style: oblique;
    border: solid yellow;
}
strong{
    color: cyan;
}
ul{
    color: violet;
    text-align: left;
}
h3{
    text-align: right;
}